.panel {
    border: 1px solid gray;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 8px;
}

.input-text-port {
    width: 52px;
}

.input-number {
    width: 52px;
}

.input-range-scale {
    width: 60%;
}

.panel-header {
    font-weight: bold;
    display: block;
}
