.command {
    padding-left:4px;
    padding-right:4px;
    padding-top:6px;
    padding-bottom:6px;
    margin-left:1px;
    margin-right:1px;
    margin-top:2px;
    margin-bottom:2px;
    background-color: #8D3;
}

.command:active {
    background-color: #BF4;
}
